@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Md Rakib Hasan<br />
   Software Engineer<br />
    <abbr title="Phone">P:</abbr>
    01996513255
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rakib.live95@gmail.com">rakib.live95@gmail.com</a><br />
</address>